body {
    padding-top: 56px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.navbar {
    background-color: #34495e;
}

.footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(52, 73, 94, 0.7);
    padding: 15px;
    border-radius: 5px;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card {
    color: rgba(52, 73, 94, 0.7);
}

.news-detail-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.date {
    position: relative;
}

.view {
    position: relative;
}
